.emacs.desktop.*
.emacs.desktop.*.lock
allfolder
elpa/
eshell/history
eshell/lastdir
auto-save-list/
tramp
*~
/bookmarks
/semanticdb/
/projectile-bookmarks.eld
/ede-projects.el
/ido.last
/recentf
/smex-items
/.emacs_workgroups
/custom.el
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/cedet-projects.el
/projectile.cache
/.python-environments/
/persp-confs/*
/eyebrowse-buffers
/pyim/*
/.mlocate.db
/transient/
