.emacs.desktop
.emacs.desktop.lock
allfolder
elpa/
eshell/history
eshell/lastdir
auto-save-list/
tramp
*~
/bookmarks
/semanticdb/
/projectile-bookmarks.eld
/env.el
/ede-projects.el
/ido.last
/recentf
/smex-items
/.emacs_workgroups
