[submodule "helm"]
	path = helm
	url = git@github.com:emacs-helm/helm.git
[submodule "smex"]
	path = smex
	url = git@github.com:nonsequitur/smex.git
[submodule "zenburn"]
	path = zenburn
	url = git@github.com:bbatsov/zenburn-emacs.git
[submodule "xcscope"]
	path = xcscope
	url = git@github.com:dkogan/xcscope.el.git
[submodule "magit-filenotify"]
	path = magit-filenotify
	url = git@github.com:magit/magit-filenotify.git
[submodule "git-modes"]
	path = git-modes
	url = git@github.com:magit/git-modes.git
[submodule "magit"]
	path = magit
	url = git@github.com:magit/magit.git
[submodule "workgroups2"]
	path = workgroups2
	url = git@github.com:pashinin/workgroups2.git
[submodule "company"]
	path = company
	url = git@github.com:company-mode/company-mode.git
